<% if obj.errors.any? %>
  <div id="error_explanation" class="red-text text-darken-2">

      <div class="card-panel">
        <div class="col s12 m12 l12">
    <h5><%= pluralize(obj.errors.count, "error") %> prohibited this model from being saved:</h5>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  </div>
  </div>
<% end %>
